* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
}

#left{
    position: relative;
    color: #fff;
    width: 35%;
    height: 100%;
    background-color: rgb(93, 17, 17);
}

#left #text {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 10%;
}

#text h1{
    font-size: 50px;
    line-height: 1;

}

#text h1 span {
    font-weight: 300;
}

#text h3{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}

#text p{
    font-size: 14px;
    width: 80%;
    line-height: 1.9;
    margin-bottom: 20px;
}

#text button{
    background-color: #fff;
    border: none;
    color: rgb(200,70,70);
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 22px;
    cursor: pointer;
}

#left #btm{
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    color: black;

}

#btm h3{
    color: rgb(200,70,70);
    font-size: 20px;
}

#btm p{
    font-size: 12px;
    width: 80%;
    margin-top: 5px;
    opacity: .7;
}

#right{
    position: relative;
    width: 65%;
    height: 100%;
    background-color: #ffffff6d;
}

#right>img{
    /* width: 52%;
    height: 25%; */
    /* object-fit: cover; */
    position: absolute;
    top:35%;
    left: -25%;
    transform: rotate(-25deg);
    transform: translate(-50%, -50%) rotatee(-30deg);
}

#right #center{
    position: absolute;
    top: 10%;
    width: 60%;
    left: 25%;

}

#center h1{
    font-size: 60px;
    color: rgb(200,70,70);
}

#center h1 span{
    color: black;
    font-weight: 300;
}

#center h2{
    font-weight: 400;
    margin-bottom: 20px;
}

#center h2 span{
    font-weight: 700;
}

#center p {
    font-size: 14px;
    width: 80%;
    line-height: 1.8;
    margin-bottom: 30px;
}

#center #btns {
    display: flex;
    gap: 20px;
}

#center button{
    padding: 14px 22px;
    cursor: pointer;
}

#center button:nth-child(1) {
    background-color: transparent;
    border: 1px solid rgb(200,70,70);
    color: rgb(200,70,70);
    font-weight: 600;
    border-radius: 10px;
}

#center button:nth-child(2){
    background-color: rgb(200,70,70);
    color: #fff;
    border: none;
    border-radius: 100px;
    font-weight: 600;
}

#sampletext{
    margin-top: 30px;
}

#samples {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.sample{
    width: 140px; 
    overflow: hidden; 
    border-radius: 10px;
}

.sample img {
    width: 100%;
}